.selected-header {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 200px;
  line-height: 1.4em;
  font-family: "arial black", arial-w01-black, arial-w02-black, "arial-w10 black", sans-serif;
}

.selected-header-color {
  color: #E0DEDE;
}
