<div class="container-fluid" style="margin-bottom: 300px;">
  <div class="row">
    <div class="col-sm-12" style="Top: 130px;">
      <h2 class="selected-header" style="text-align: center; line-height: 0.7em; font-size: 13vw;">
        <span class="selected-header-color">releases</span>
      </h2>
    </div>
    <app-thumbnails></app-thumbnails>
    <div class="col-sm-12" style="Top: 170px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="margin-bottom: 20px;">
            <h2 class="join-Header" style="text-align: center; line-height: 0.7em;">
              <span class="join-header-color">Join the mailing list to stay tuned</span>
            </h2>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email here*">
            </div>
          </div>
          <button type="button" class="btn btn-primary" style="width: 170px; height: 37px;">Primary</button>
        </div>
      </div>
    </div>
  </div>
</div>


