<div class="row" *ngIf="projects$ | async as data">
  <div class="col-sm-3 thumbnail-images" *ngFor="let projects of data.artists.projects.data[0].projects">
    <img [src]="projects.projectArt" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <!-- <div class="text">Cassper Nyovest / Sweet & Short</div> -->
      <div class="text">{{ projects.artist }} / {{ projects.name }}</div>
    </div>
  </div>
  <!-- <div class="col-sm-3 thumbnail-images">
    <img src="../../assets/artists/dj sumbody.jpg" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <div class="text">DJ Sumbody / Ngwana Daddy</div>
    </div>
  </div>
  <div class="col-sm-3 thumbnail-images">
    <img src="../../assets/artists/piano.jpg" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <div class="text">Kabza the small & Phori / Piano Hub</div>
    </div>
  </div>
  <div class="col-sm-3 thumbnail-images">
    <img src="../../assets/artists/scorpion.jpg" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <div class="text">Kabza the small & Phori / Scorpian King</div>
    </div>
  </div>
  <div class="col-sm-3 thumbnail-images">
    <img src="../../assets/artists/dj sumbody.jpg" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <div class="text">DJ Sumbody / Ngwana Daddy</div>
    </div>
  </div>
  <div class="col-sm-3 thumbnail-images">
    <img src="../../assets/artists/Cassper.jpg" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <div class="text">Cassper Nyovest / Sweet & Short</div>
    </div>
  </div>
  <div class="col-sm-3 thumbnail-images">
    <img src="../../assets/artists/scorpion.jpg" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <div class="text">Kabza the small & Phori / Scorpian King</div>
    </div>
  </div>
  <div class="col-sm-3 thumbnail-images">
    <img src="../../assets/artists/piano.jpg" class="float-left" alt="Paris" width="390" height="400">
    <div class="overlay">
      <div class="text">Kabza the small & Phori / Piano Hub</div>
    </div>
  </div> -->
</div>
